body {
  margin: 0;
}

textarea,
input {
  outline: none;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

button {
  all: unset;
  cursor: pointer;
}

button:focus {
  outline: revert;
}

@font-face {
  font-family: 'Pixellari';
  src: url('../../public/fonts/Pixellari.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PixelOperatorHB';
  src: url('../../public/fonts/PixelOperatorHB.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PixelOperatorSC';
  src: url('../../public/fonts/PixelOperatorSC.ttf');
  font-weight: normal;
  font-style: normal;
}